{{ $data := index site.Data site.Language.Lang }}

{{ if $data.brands.brands.enable }}
{{ with $data.brands.brands }}
{{"<!-- Start Banners -->" | safeHTML}}
<section id="brand" class="testimonial overly section bg-2"
	style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img src="{{ .bg_image_webp | absURL }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				{{"<!-- brands wrapper -->" | safeHTML}}
				<div id="brands" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
					{{ range .brands_item }}
					{{"<!-- brands single -->" | safeHTML}}
					<div class="item text-center">

						{{"<!-- client photo -->" | safeHTML}}
						<div class="client-thumb">
						        <a href="{{ .link }}">
							<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
							</a>
						</div>

					</div>
					{{"<!-- /brands single -->" | safeHTML}}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}
