{{ $data := index site.Data site.Language.Lang }}

{{ if $data.certification.enable }}
{{ with $data.certification }}
{{"<!-- Start Banners -->" | safeHTML}}
<section id="catalog">
	{{"<!-- catalogs wrapper -->" | safeHTML}}
	<div id="catalogs" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
		{{ range .catalogs_item }}
	        <a href="{{ .link | absURL }}">
		<img class="img-fluid lozad" data-src="{{ .image | absURL }}" alt="{{ .name }}">
		</a>
		{{ end }}
	</div>
</section>
{{"<!-- End banners -->" | safeHTML}}
{{ end }}
{{ end }}
