{{ $data := index site.Data site.Language.Lang }}

{{ if $data.cta.cta.enable}}
{{ with $data.cta.cta}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="cta" class="call-to-action">
	<!-- this image is for trigger this section fallback background image -->
	<div class="wow fadeInUp">
	        <a href="{{ .link | absURL }}">
		<img class="img-fluid lozad" data-src="{{ .bg_image | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
		</a>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
